In [1]:
# Pandas will allow us to create a dataframe of the data so it can be used and manipulated
import pandas as pd
# Regression Tree Algorithm
from sklearn.tree import DecisionTreeRegressor
# Split our data into a training and testing data
from sklearn.model_selection import train_test_split

In [5]:
data = pd.read_csv("https://download1529.mediafire.com/dvqc4955vg3gPUYDekC5AyNXUL3ycBD8BoiFMJRcIhXCAzQE1FuYalZQR9_EUEroQh3aEgTYi8MgTx8mlPO_1rJyvhd4NA/z6pjadlszdv6qxh/filtered+dataset3.csv")

In [6]:
data.head()

,SectionID,raisedhands,VisitedResources,Discussion,StudentAbsenceDays,Class
0,7,15,16,20,0,3
1,7,20,20,25,0,3
2,7,10,7,30,1,2
3,7,30,25,35,1,2
4,7,40,50,50,1,3

In [11]:
X = data.drop(columns=["Class"])
Y = data["Class"]

In [12]:
X.head()

   SectionID  raisedhands  VisitedResources  Discussion  StudentAbsenceDays
0          7           15                16          20                   0
1          7           20                20          25                   0
2          7           10                 7          30                   1
3          7           30                25          35                   1
4          7           40                50          50                   1

In [13]:
Y.head()

0    3
1    3
2    2
3    2
4    3
Name: Class, dtype: int64

In [92]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.3, random_state=2)

In [99]:
regression_tree = DecisionTreeRegressor(criterion = "squared_error",min_samples_split=5,min_samples_leaf=2,max_depth=100)

In [100]:
regression_tree.fit(X_train, Y_train)

DecisionTreeRegressor(max_depth=100, min_samples_leaf=2, min_samples_split=5)

In [101]:
regression_tree.score(X_test, Y_test)

0.3396638655462183